@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --font-inter-tight: "Inter Tight", serif;
    --font-inter: "Inter", serif;

    /** Content */
    --color-content-primary: #FFFFFF;
    --color-content-secondary: #98959D;
    --color-content-tertiary: #666666;
    --color-content-brand: #9282FA;

    /** Background */
    --color-background-primary: #151515;
    --color-background-secondary: #1E1E1E;
    --color-background-tertiary: #23242C;
    --color-background-brand: #9282FA;
    --color-background-highlights: #BDB4FA;

    /** Border */
    --color-border-primary: #3E3C41;
    --color-border-secondary: #86818C;
    --color-border-brand: #9282FA;
    --color-border-divisor: #353339;

    /** Accent */
    --color-accent-blue: #027DF0;
    --color-accent-blue-light: #16487A;
    --color-accent-yellow: #F0DC02;
    --color-accent-yellow-light: #756E1B;
    --color-accent-orange: #F09102;
    --color-accent-orange-light: #75501B;
}